RewriteEngine on

// ***документ 404***
ErrorDocument 404 404.html

// ***документ 405***
ErrorDocument 405 /405.html
// ***документ против сша***
GeoIPEnable On

SetEnvIf GEOIP_COUNTRY_CODE US BlockCountry

SetEnvIf GEOIP_COUNTRY_CODE UA BlockCountry

Deny from env=BlockCountry


// ***делаем сайт стачическим***

RewriteCond %{REQUEST_FILENAME} !\.(js|css|gif|jpg|jpeg|png|ico|swf|pdf|html|php|json|svg|dtd|htaccess)$
  
// ***эмэил админа***

ServerSignature EMail
SetEnv SERVER_ADMIN kesovstavros0@gmail.com

