RewriteEngine on

// ***документ 404***
ErrorDocument 404 404.html

// ***документ 405***
ErrorDocument 405 /405.html
// ***документ против сша***
GeoIPEnable On

SetEnvIf GEOIP_COUNTRY_CODE US BlockCountry

SetEnvIf GEOIP_COUNTRY_CODE UA BlockCountry

Deny from env=BlockCountry
// ***поиск***
search.html - 666 
/admin.php - 666

RewriteCond %{REQUEST_URI} ^/ru/services/?.$ 

RewriteCond %{REQUEST_METHOD} =POST

RewriteRule ^(.)$ http://timeweb/ru/new$1 [R=405,L]

// ***делаем сайт стачическим

RewriteCond %{REQUEST_FILENAME} !\.(js|css|gif|jpg|jpeg|png|ico|swf|pdf|html|php|json|svg|dtd)$
   