body {
	background-color: black;
	color: white; 
	}
	
button {
	backround-color: #68CF00;
	border: 2px solid black;
	border-radius: 10px;
	}
	
a {
	color: white;
	text-shadow: none;
	text-decoration: non3;
	} 
	
