body {
	background-image: url(https://github.com/KesAlov/kesalov.github.com/raw/main/social/img/301bf56b2cb83bd3130f17ab65bbace3.jpg);
	color: white; 
	}
	
button {
	background-color: #68CF00;
	border: 2px solid black;
	border-radius: 5px;
	}
	
a {
	color: white;
	text-shadow: none;
	text-decoration: non3;
	} 
	
