h1 {
  font-size: 50px;
    }

h2 {
  
  font-size: 20px;
  font-color: gray;
 } 

 body {
   background-image: url(https://github.com/KesAlov/kesalov.github.com/raw/main/2b7d6127c7224eef9420368f22a93854.jpg);
   font-color: white;
  } 
